<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      
      <div class="title_left">
        <h1>Add Company</h1>
      </div>

      </div>
    </div>


<div>
        <form [formGroup]="saveCompanyForm" (ngSubmit)="createCompany()" name="myForm">                    
          <section>
              <div>
                <input type="text" formControlName="cname" ng-model="cname" class="form-control" placeholder="Company Name" required ="" />
              </div>
              <div>
                <input type="text" formControlName="address" class="form-control" placeholder="Company Address" required="" />
              </div>
              <div>
                <input type="text" formControlName="phone"class="form-control" placeholder="Phone Number" required minlength="9" />
              </div>
              <div>
                <button type="submit" class = "btn-primary"> Submit </button>
                <button type="reset" class = "btn-secondary">Reset</button>
              </div>
              </section>
              </form>
      </div>
      

  