div{
    margin: 10px;
}

.formbox{
    margin-left: 5%;
    margin-right: 2%;
}

.btn-primary{

    margin-left: 5%;
}

.msg{
    margin-left:0%;
    color:red;
}
.button-style{
    display: flex;float:right;
} 