<div>
  <form [formGroup]="editFormGroup" (ngSubmit)="editCompany()">                    
    <section>
        <h1>Edit Company</h1>
        <div>
          <input type="text" formControlName="companyName" class="form-control" placeholder="Company Name" required="" />
        </div>
        <div>
          <input type="text" formControlName="address"class="form-control" placeholder="Company Address" required="" />
        </div>
        <div>
          <input type="text" formControlName="companyPhone"class="form-control" placeholder="Phone Number" required="" />
        </div>
        <div>
          <button type="submit" class = "btn-primary">Update </button>
          <button type="reset" class = "btn-secondary">Reset</button>
        </div>
      </section>
  </form>
</div>