<div>
    <section>
        <h1>Edit Company</h1>
        <div>
          <input type="text" class="form-control" placeholder="Company Name" required="" />
        </div>
        <div>
          <input type="text" class="form-control" placeholder="Company Address" required="" />
        </div>
        <div>
          <input type="text" class="form-control" placeholder="Phone Number" required="" />
        </div>
        <div>
          <button type="button" class = "btn-primary">Update </button>
          <button type="button" class = "btn-secondary">Reset</button>
        </div>
      </section>
</div>