
<div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>Tables <small></small></h3>
        </div>
  
        <div class="title_right">
          <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
              </span>
            </div>
          </div>
        </div>
      </div>
  
      <div class="clearfix"></div>
  
      <div class="row">
        <div class="clearfix"></div>
  
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
              <div class="table-responsive">
                    <div class="testbox">
                      <form [formGroup]="saveProjectForm" (ngSubmit)="createProject()">                    
                        <div class="item">
                          <label for="pname">Project Name<span>*</span></label>
                          <input id="pname" formControlName="pname" type="text" />
                        </div>
                        <div class="item">
                          <label for="description">Project Description<span>*</span></label>
                          <input id="description"  formControlName="description" type="text" name="description"/>
                        </div>                  
                        <div class="item">
                          <label for="duration">Project Duration<span>*</span></label>
                          <input id="duration" formControlName="duration" type="text" name="duration" />
                        </div>
                        <div class="btn-block">
                          <button class="btn btn-primary btn-lg" type="submit" href="/">SUBMIT</button>
                          <button class="btn btn-primary btn-lg" type="reset" href="/">RESET</button>
                        </div>
                      </form>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  