<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Tables <small></small></h3>
      </div>
      <div class="title_right">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">Go!</button>
            </span>
          </div>  
        </div>
      </div>
    </div>

 <div class=" form-group pull-right top_search">
  <button type="button" (click)="addCompany()">Add Company</button>
 </div>
<app-company-edit 
*ngIf="isUpdateCompany"
[companyId]="companyId"
(closeModelEvent)="closeModelEvent()"
(getAllCompanies)="getAllCompanies()"
></app-company-edit>
 
 
    <div class="clearfix"></div>

    <div class="row">

      <div class="clearfix"></div>
  
                  <div class="clearfix"></div>
            
          
            <h2>Table design <small>Custom design</small></h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Settings 1</a>
                  </li>
                  <li><a href="#">Settings 2</a>
                  </li>
                </ul>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="table-responsive">
              <table class="table table-striped jambo_table bulk_action">
                <thead>
                  <tr class="headings">
                
                    <th class="column-title">Company Id </th>
                    <th class="column-title"> Company Name </th>
                    <th class="column-title">Company Address </th>
                    <th class="column-title">Company Phone </th>
                    <th class="column-title no-link last"><span class="nobr">Action</span>
                    </th>
                    <th class="bulk-actions" colspan="7">
                      <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor = "let company of companyData" class="even pointer">
                    <td class=" ">{{company.companyId}}</td>
                    <td class=" ">{{company.companyName}}</td>
                    <td class=" ">{{company.companyAddress}}</td>
                    <td class=" ">{{company.companyPhone}}</td>
                    <td class=" last"><button (click)="updateCompany(company.companyId)">Edit</button>
                    <button (click)="deleteCompany(company.companyId)">Delete</button></td>
                  </tr>





                </tbody>
              </table>
            </div>